.TiltMenu{
    background:linear-gradient(0.75turn,#494A97,#8F3D87);
    margin-right:0;
    justify-content:center;
    vertical-align: middle;
    margin:0;
    height: 15rem;
    width: 15rem;
    margin: 0px;
}

.cbl{
    justify-content: center;
    vertical-align: middle;
    margin:0;
}
@media only screen and (max-width:1500px){
    .TiltMenu{
   height: 11rem;
    width: 11rem;
  
    }
}
@media only screen and (max-width:1000px){
    .TiltMenu{
   height: 11rem;
    width: 11rem;
  
    }
}
@media only screen and (max-width:769px){
  .TiltMenu{
  height: 9rem;
    width: 9rem;
    }
}
@media only screen and (max-width:576px){
   .TiltMenu{
   height: 9rem;
    width: 9rem;
    
    }
}
