.menuText{
    margin-top:0px;
    margin-bottom: 0px;
    font-family: 'Ubuntu', sans-serif;
    color:rgb(236, 228, 228);
  text-shadow: 1px 1px rgb(39, 35, 35);

}
.Menu{
    overflow: hidden;
    white-space: nowrap;
}
