.Tilt{
    background:linear-gradient(0.75turn,#494A97,#8F3D87);
    margin-right:0;
    justify-content:center;
    vertical-align: middle;
    margin:0;
}
.cbl{
    justify-content: center;
    vertical-align: middle;
    margin:0;
}