.text{
  border:5px solid black;
  padding:10px;
  margin:0.5rem;
  margin-right:20px;
  font-size:3rem;
  font-family: 'Ubuntu', sans-serif;
  background:linear-gradient(#494A97,#8F3D87);
}
.textDiv{
    border-bottom:5px solid black;
    display:flex;
    justify-content: flex-end;
    margin-right:4em;
    width:100%;
     background:linear-gradient(#494A97,#8F3D87);
}
.navigation{
  margin-right:calc(40%/2)
}
@media only screen and (max-width:1300px){
 .navigation{
  margin-right:auto
}
.text{
    font-size:2.8rem;
}
}
@media only screen and (max-width:1000px){
.navigation{
  margin-right:auto;
}
.text{
    font-size:2rem;
}
}
@media only screen and (max-width:770px){
  .navigation{
  margin-right:auto;
}
.text{
    font-size:1.3rem;
}
}
@media only screen and (max-width:577px){
  .navigation{
  margin-right:0;
}
.text{
    font-size:1.2rem;
}
}

