
@keyframes blink{
  0%{
 background:rgb(63, 0, 63,0.8);
  }
  25%{
 background:rgba(146, 6, 146, 0.8);
  }
  50%{
  background:rgba(167, 4, 99, 0.8)
  }
  75%{
background:rgba(163, 26, 33, 0.8)
  }
  100%{
 background:rgb(63, 0, 63,0.8);
  }
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  animation: blink 12s infinite;
}
html{
  width: 100%;
  height: 100%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
